.container{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(183, 179, 179);
}

.row{
    margin-left: 150px;
    display: flex;
}

.card{
    background-color: rgb(255, 255, 255);
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
}

.cardlist{
    text-align: center;
}

.row2{
    background-color: rgb(168, 211, 249);
}